@model MVC5Course.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

    @Html.DisplayForModel();

<hr />
<div id="details">
    @*@Html.Partial("OrderLines", Model.OrderLine)*@
    @Html.Action("GetOrderLinesDetails", new { productId = Model.ProductId, ABCint = 123 })
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
